mat-card{
    width: 50rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.avatar{
    border-radius: 10%;
    height: 100px;
    width: 100px;
}
.green{
    color: green;
}
.red{
    color: red;
}
mat-expansion-panel{
    width: 50rem;
    padding: 0px;
}
.ganador{
    background: rgba(0, 255, 0, 0.3);
}
.perdedor{
    background: rgba(255, 0, 0, 0.3);
}
.row{
    width: 100%;
}